#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;

  h1 {
    font-weight: 800;
  }

  p {
    text-align: center;
  }

  ion-button,
  form {
    padding: 10px 0px 10px 0px;
    width: 100%;
    max-width: 400px;
  }

  ion-button {
    --background: #f08181;
    --border-radius: 10px;
  }

  ion-input {
    --background: white;
    --highlight-color: #f08181;
  }

  app-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
