<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Múltiplos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>¡Bienvenido!</h1>
    <p>Introduce un número positivo mayor que 0 para calcular sus múltiplos:</p>

    <form [formGroup]="form">
      <ion-input
        label="Número"
        type="number"
        formControlName="number"
        fill="solid"
        labelPlacement="floating"
        helperText="Número mayor a 0"
        min="0"
      ></ion-input>
    </form>
    <ion-button (click)="createNumber()">Agregar número</ion-button>
    @if(ListNumbers.length > 0) { @for (item of ListNumbers; track $index) {
    <app-card [multiples]="item" />
    } } @else {
    <ion-spinner name="dots"></ion-spinner>
    } @if(Message) {
    <ion-toast isOpen="true" [message]="Message" [duration]="3000"></ion-toast>
    }
  </div>
</ion-content>
