<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Múltiplos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>¡Bienvenido!</h1>
    <p>Ingresa un número mayor a 0 para ver sus multiplos:</p>

    <form [formGroup]="form">
      <ion-input
        label="Numero"
        type="number"
        formControlName="number"
        fill="solid"
        labelPlacement="floating"
        helperText="Numero mayor a 0"
        min="0"
      ></ion-input>
    </form>

    <ion-button (click)="list()">Agregar numero</ion-button>
    @for (item of ListNumbers; track $index) {
    <app-card [multiples]="item" />
    }
  </div>
</ion-content>
